*{
    text-align: center;
    background-color: rgb(118, 196, 30);
}
h1{
    font-family: 'Playball', cursive; /*the added font in the head section*/;
    color: fuchsia;
    font-weight: 400;
    font-size: 80px;
    
}
a{
    font-style: italic;
    font-family: 'Gentium Plus', serif;
    color: rgb(28, 45, 78);
    font-size: 26px;
    
}